
@import 'navbar';
@import 'hero';
@import 'about';
@import 'services';



h1{
    font-family: "Oswald", serif ;
    font-weight: bolder;
    text-align: center;
    justify-content: center;
    margin-bottom: 40px;
}

p{
    font-family: 'Rubik';
}
.container{
    padding-top: 50px;;
    padding-bottom: 50px;
}

