#services{
    padding-top:50px;
    background-color: black;
    #img-head{
        text-align: center;
        
        display:flex;
        align-self: center;
        justify-content: center;
            
        
    }
    #services-header{
        color:grey;
        padding-bottom: 10px;
  
}
    ul{
        display:flex;
        flex-direction: row;
        flex-wrap:wrap;
        list-style-type: none;
        justify-content: center;
        align-items: center;
        width:100%;
        border-top: yellow solid 2px;
        border-bottom: yellow solid 2px;
        padding:10px;
        li{
            font-family: 'Oswald';
            font-weight: bold;
            margin:auto;
            color:grey;
            
            @media screen and (max-width: 767px) {
                padding:10px;
                font-size: x-small;
                text-align: center;
            
            }
        }
    }
}
#lawn-image{
    width:65%;
    height:40%;
}
#snow-image{
    width: 85%;
    height: 75%;
    box-shadow: 5px 5px 8px -4px grey;
}
#winter-services{
    padding-top:50px;
    background-color:white;
    #img-head{
        text-align: center;
        
    }
    ul{
        display:flex;
        flex-direction: row;
        flex-wrap:wrap;
        list-style-type: none;
        justify-content: center;
        align-items: center;
        width:100%;
        border-top: yellow solid 2px;
        border-bottom: yellow solid 2px;
        padding:10px;
        
    
        li{
            font-family: 'Oswald';
            font-weight: bold;
            margin:auto;
            color:grey;
            @media screen and (max-width: 767px) {
                padding:5px;
                font-size: small;
                text-align: center;
            
            }

        }
    }
    
    table{
        table-layout: fixed;
        td{
          
        }
    }
}

    
#summer-table{
    padding-top:0px;
}
#winter-table{
    padding-top:0px;
}