#services{
    padding-top:50px;
    background-color: #ffffcc;
    #img-head{
        text-align: center;
        
        display:flex;
        align-self: center;
        justify-content: center;
            
        
    }
}
#lawn-image{
    border: solid 1px black;
}
#snow-image{
    width: 85%;
    height: 75%;
    border: solid 3px black;
}
#winter-services{
    padding-top:50px;
    background-color:white;
    #img-head{
        text-align: center;
        
    }
    
    table{
        table-layout: fixed;
        th{
            align: center;
        }
    }
}

    
#summer-table{
    padding-top:0px;
}
#winter-table{
    padding-top:0px;
}