<div id = 'contact' class = 'container'>
    <h1 id = 'contact-header'>Contact Us!</h1>
    <div class = 'row' id = 'phone-row'>
        <div class = 'col-sm-6'>
            <img src = "{{.PhoneIcon}}" id = 'phone-icon'>
        </div>
        <div clas = 'col-sm-6'>
            <h2>{{.PhoneNumber}}</h2>
        </div>
    </div>
    <div class = 'row' id = 'email-row'>
        <div class = 'col-sm-6'>
            <img src = '{{.EmailIcon}}' id = 'email-icon'>
        </div>
        <div class = 'col-sm-6' style = "padding:0px;">
            <h2>{{.EmailAddress}}</h2>
        </div>
    </div>
</div>