
<section id = "hero" class = "hero-area">
    <div class = "logo hero-content">
        <div class = "content">
            <img class = "img-fluid" src = "{{ .MurphyLogo }}" alt = "logo" />
        </div>
    </div>
        <div class = 'container-fluid' id = 'text-container'>
            <div class = 'row'>
                <div class = "col-lg-4 col-md-4 col-sm-4 col-4">
                    <h4 class = 'hero-text'>Affordable</h4>
                </div>
                <div class = "col-lg-4 col-md-4 col-sm-4 col-4">
                    <h4 class = 'hero-text'>Commercial/Residential</h4>
                </div>
                <div class = "col-lg-4 col-md-4 col-sm-4 col-4">
                    <h4 class = 'hero-text'>Bonded/Insured</h4>
                </div>
            </div>
        <div class = 'row' id = 'quote-row'>
            <div class = 'col-md-12'>
                <h4 id = 'hero-quote'><i>Enjoy your lawn and family time!</i></h4>
            </div>
        </div>
    </div>
</section>