
<nav class = "navbar navbar-expand-sm  navbar-custom fixed-top " id = 'main-nav' >
        
    <a class = "navbar-brand" href = "#">Home</a>
    
    <ul class = "navbar-nav ml-auto">
        <li class = "nav-item">
            <a class = "nav-link link-text" href = "#about">About</a>
        </li>
        <li class = "nav-item">
            <a class = "nav-link link-text" href = "#services">Services</a>
        </li>
        <li class = "nav-item">
            <a class = "nav-link link-text" href = "#contact">Contact</a>
        </li>
    </ul>

</nav>
<script>
        var nav = document.getElementById('main-nav');
    
        window.onscroll = function() {
            if (document.documentElement.scrollTop >= 120) {
                nav.classList.add("bg-transparent");

            } else {
                nav.classList.remove("bg-transparent");
            }
        }
    </script>